<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ูพูู ูุฏุฑุช</title>
    <link rel="stylesheet" href="/css/p-admin/tags.css" />
    <link rel="stylesheet" href="/css/p-admin/createArticle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Sidebar -->
    <aside class="sidebar">
      <header>
        <a href="/">
          <img src="/images/logo.png" alt="Website logo" class="website-logo" />
        </a>
      </header>
      <main class="sidebar-content">
        <div>
          <a href="../" class="side-link">
            <i class="fa-solid fa-house"></i>
            ุตูุญู ุงุตู
          </a>
        </div>
        <div>
          <a href="./" class="side-link">
            <i class="fa-solid fa-square-plus"></i>
            ุงุฌุงุฏ ููุงูู
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-users"></i>
            ูุณุช ฺฉุงุฑุจุฑุงู
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-wallet"></i> ูุฏุฑุช ูุฑูุด
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-shop"></i> ูุญุตููุงุช
          </a>
        </div>
        <div>
          <a href="#" class="side-link">
            <i class="fa-solid fa-list"></i>
            ุฏุณุชู ุจูุฏ ูุง
          </a>
        </div>
      </main>
    </aside>

    <!-- Main content  -->
    <main id="content">
      <!-- Navbar - profile -->
      <nav>
        <div>
          <div>
            <p class="welcome"><%= user.name%> , ุฎูุด ุขูุฏุฏ ๐</p>
            <p class="text-sm">ุฑูุฒ ุฎูุด ุฑู ุฏุงุดุชู ุจุงุดุฏ !</p>
          </div>
        </div>
        <div class="navbar-buttons">
          <button class="bell-button">
            <i class="fa-solid fa-bell"></i>
          </button>
          <div class="break-line"></div>
          <div class="profile-dropdown">
            <div class="profile-data">
              <img
                src="/images/admin.jpg"
                alt="Admin profile"
                class="admin-profile"
              />
              <div>
                <p class="user-name"><%= user.name%></p>
                <p class="user-role">ูุฏุฑ</p>
              </div>
              <div>
                <span>
                  <i class="fa-solid fa-chevron-left"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- Content  -->
      <section id="container">
        <!-- Sort & Filtering -->
        <header>
          <div>
            <h3 class="page-title">ุงุฌุงุฏ ููุงูู</h3>
            <p class="text-sm">
              ุจุฑุง ุงุฌุงุฏ ููุงูู ุชูุงู ูุฑูุฏ ูุง ุงุฌุจุงุฑ ู ุจุงุดูุฏ ๐
            </p>
          </div>
        </header>

        <!-- Table container -->
        <main>
          <div class="inputs-wrapper">
            <input
              type="text"
              class="input-element title"
              placeholder=" ุนููุงู ููุงูู ุฑุง ูุงุฑุฏ ููุงุฆุฏ ..."
            />
            <input
              type="text"
              class="input-element author"
              placeholder="ูุงู ุฏุฑุฌ ฺฉููุฏู ููุงูู ุฑุง ูุงุฑุฏ ููุงุฆุฏ ..."
            />
            <label class="input-element file-upload">
              <div class="label">ูุทูุง ฺฉ ูุงู ุฑุง ุงูุชุฎุงุจ ููุงุฆุฏ ...</div>
              <input type="file" name="cover" id="cover" />
            </label>
          </div>
          <textarea
            name=""
            class="textarea description"
            id=""
            placeholder="ูุทูุง ุชูุถุญุงุช ููุงูู ุฑุง ูุงุฑุฏ ููุงุฆุฏ ..."
          ></textarea>
          <div class="buttons-wrapper">
            <a class="cancel" href="../">ุงูุตุฑุงู</a>
            <button class="submit">ุงุฌุงุฏ ููุงูู</button>
          </div>
        </main>
      </section>
    </main>

    <div class="modal-screen invisible">
      <div class="modal-card"></div>
    </div>

    <script src="./index.js"></script>
  </body>
</html>
